div.container{
    display: flex;
    width:100%;
    justify-content: space-around;
    color: #E6D5B8;
}
h2{
    text-align: center;
}
hr{
    color: #C65D7B;
}
div.pesan1 .pesan2 .pesan3 {
    height: 175px;
    width: 300px;
    display: none;
    }
div.pesan1, div.pesan2, div.pesan3,
    p.flip1, p.flip2, p.flip3 {
    margin: 0px;
    padding: 5px;
    text-align: center;
    width: 300px;
    background: #03045E;
    border: 8px ridge #ddd;
    }
