body{
    background-color: #FBF8F1;
}
h2{
    text-align: center;
    margin: 100px 50px;
}
div.form {
    border-radius: 5px;
    background-color: #97BFB4;
    padding: 20px;
    top: 20%;
    left: 15%;
    position: absolute;
    margin: auto;
    width: 70%;
    text-align: center;
}
h2{
    background-color: #21325E;
    color: #FBF8F1;
    padding: 20px 15px;
}